
$color : #ccc;

ul{
    li{
        &:hover{
            transition: 1 1;
        }
        a{
            display: block;
            font-family: "微软雅黑";
            color: $color;
            &:hover{
                transition: 1 1;
            }
        }
    }
}
